.we-layout {
  min-height: 100vh !important;
}

.we-sider {
  background: linear-gradient($main-color 5%, $base-color-one) !important;
  max-width: 50px !important;
  min-width: 50px !important;
  width: 50px !important;

  .we-menu {
    width: 51px;
    .we-menu-item {
      padding: 0 17px !important;
      background: $main-color !important;
      margin: 0 !important;

      &.ant-menu-item-selected {
        color: $base-color-two;
      }
    }
  }
}

.we-content-container {
  //   background: linear-gradient(
  //     $base-color-three 70%,
  //     $base-color-two
  //   ) !important;
  background: $base-color-three !important;
}

.we-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: $base-color-three !important;
  background: linear-gradient($base-color-three, $base-color-two) !important;
}

.we-page-content-container {
  padding: 0px 25px 65px 25px;
}
