//colors
$dimgray: #646663;
$silver: #d9c2bc;
$gainsboro: #e5d7d4;
$white: #fff;

// base colors
$main-color: $dimgray;
$base-color-one: $silver;
$base-color-two: $gainsboro;
$base-color-three: $white;

//component
$card-border-radius: 10px;
